@{
    ViewBag.Title = "Search Books";
}

<h1>Search for Books</h1>

<form asp-action="Search" method="post">
    <div class="form-group">
        <label for="searchTerm">Välj ett sökord</label>
        <input type="text" id="search" name="search" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Sök</button>
</form>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger mt-3">
        @ViewBag.ErrorMessage
    </div>
}